###############################################################################
# Ignore these files
###############################################################################

*.env
*.log
*~
.*


###############################################################################
# Accept these files
###############################################################################


!.editorconfig
!.gitignore
